.box-shadow:focus{
    box-shadow: none !important;
}
.pointer{
    cursor: pointer;
}
.padding{
    margin: 0px !important;
    padding: 0px;
    padding-bottom: 6px;
}
.cursor{
    cursor: pointer;
}