<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="cursor" routerLink="signin">
      <i class="far fa-sticky-note h5"></i>
      <p class="h5 d-inline-block ps-2">Notes</p>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle padding text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign Up
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item text-white" routerLink="signin">Sign In</a></li>
            <li><a class="dropdown-item text-white" routerLink="signup">Sign Up</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>